# <center>Analyse et visualisation des donn√©es</center>

In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('./export.csv')

In [4]:
df.head()

,Unnamed: 0,lat,lng,zip,title,timeStamp,twp,addr
0,0,40.297876,-75.581294,19525,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END
1,1,40.258061,-75.264680,19446,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN
2,2,40.121182,-75.351975,19401,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE
3,3,40.116153,-75.343513,19401,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST
4,4,40.251492,-75.603350,19464,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END