# Nettoyer le csv avant de l'ins√©rer

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('911.csv')
df.head()

,lat,lng,desc,zip,title,timeStamp,twp,addr,e
0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END,1
1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1
2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE,1
3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST,1
4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663522 entries, 0 to 663521
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   lat        663522 non-null  float64
 1   lng        663522 non-null  float64
 2   desc       663522 non-null  object
 3   zip        583323 non-null  float64
 4   title      663522 non-null  object
 5   timeStamp  663522 non-null  object
 6   twp        663229 non-null  object
 7   addr       663522 non-null  object
 8   e          663522 non-null  int64
dtypes: float64(3), int64(1), object(5)
memory usage: 45.6+ MB

## Traiter les valeurs nan

In [5]:
df.isna().sum()

lat              0
lng              0
desc             0
zip          80199
title            0
timeStamp        0
twp            293
addr             0
e                0
dtype: int64

In [6]:
def replace_nan():
    dico = {}
    for town, zp in zip(df['twp'], df['zip']):
        if not pd.isna(town) and not pd.isna(zp):
            dico[town] = int(zp)
    return dico

In [7]:
true_zip = replace_nan()

In [8]:
# Utiliser un dictionnaire pour mapper les valeurs manquantes
df['zip'] = df['zip'].fillna(df['twp'].map(true_zip))

In [9]:
df.isna().sum()

lat            0
lng            0
desc           0
zip          169
title          0
timeStamp      0
twp          293
addr           0
e              0
dtype: int64

In [10]:
df = df.dropna()
df.isna().sum()

lat          0
lng          0
desc         0
zip          0
title        0
timeStamp    0
twp          0
addr         0
e            0
dtype: int64

## Changer le type de zip en INT et supprimer les colonnes e et desc

In [11]:
df['zip'] = df['zip'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663229 entries, 0 to 663521
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   lat        663229 non-null  float64
 1   lng        663229 non-null  float64
 2   desc       663229 non-null  object
 3   zip        663229 non-null  int64
 4   title      663229 non-null  object
 5   timeStamp  663229 non-null  object
 6   twp        663229 non-null  object
 7   addr       663229 non-null  object
 8   e          663229 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 50.6+ MB

In [14]:
df = df.drop('e', axis=1)
df = df.drop('desc', axis=1)

## Exporter le csv nettoy√©

In [16]:
df.to_csv('export.csv')