In [16]:
import pandas as pd
# from load import Connexion

In [17]:
df = pd.read_csv('export.csv')
df.head()

,Unnamed: 0,lat,lng,zip,title,timeStamp,twp,addr
0,0,40.297876,-75.581294,19525,EMS: BACK PAINS/INJURY,2015-12-10 17:10:52,NEW HANOVER,REINDEER CT & DEAD END
1,1,40.258061,-75.264680,19446,EMS: DIABETIC EMERGENCY,2015-12-10 17:29:21,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN
2,2,40.121182,-75.351975,19401,Fire: GAS-ODOR/LEAK,2015-12-10 14:39:21,NORRISTOWN,HAWS AVE
3,3,40.116153,-75.343513,19401,EMS: CARDIAC EMERGENCY,2015-12-10 16:47:36,NORRISTOWN,AIRY ST & SWEDE ST
4,4,40.251492,-75.603350,19464,EMS: DIZZINESS,2015-12-10 16:56:52,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END

In [18]:
towns = set()

for town, zp in zip(df.twp, df.zip):
    towns.add((town, zp))

In [19]:
# Connexion.load_towns(towns)

In [20]:
type_set = set()
for typ in df['title']:
    type_set.add((typ.split(':')[0],))

In [21]:
# Connexion.load_types(type_set)

In [22]:
types = []
for desc in df['title']:
    types.append(desc.split(': ')[1])

In [23]:
types_desc = set()
for desc in df['title']:
    if desc[-1] == '-':
        desc = desc[:-2]
    spl = desc.split(': ')
    types_desc.add((spl[0], spl[1]))

In [24]:
# Connexion.load_emergency_types(types_desc)